<img src='img/Screen Shot 2021-10-28 at 1.12.39 AM.png'>

In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [12]:
O = np.array([18, 10, 17, 15, 18, 18]) * 4
E = np.array([16, 16, 16, 16, 16, 16]) * 4
data = {'O': O, 'E': E}
df = pd.DataFrame(data).transpose()
df.columns = ['Class 1','Class 2','Class 3','Class 4','Class 5','Class 6']
df

   Class 1  Class 2  Class 3  Class 4  Class 5  Class 6
O       72       40       68       60       72       72
E       64       64       64       64       64       64

In [13]:
stat, pval = stats.chisquare(O, f_exp=E)
print(f'Statistic : {stat}')
print(f'P Value   : {pval}')

Statistic : 12.5
P Value   : 0.028543123326167485

# Reference

[scipy.stats.chisquare](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html)

[Scott_Crawford](https://www.youtube.com/watch?v=_67mDWPt26Y)