<img src='img/Screen Shot 2021-10-28 at 1.12.39 AM.png'>

In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [12]:
O = np.array([18, 10, 17, 15, 18, 18]) * 4
E = np.array([16, 16, 16, 16, 16, 16]) * 4
data = {'O': O, 'E': E}
df = pd.DataFrame(data).transpose()
df.columns = ['Class 1','Class 2','Class 3','Class 4','Class 5','Class 6']
df

   Class 1  Class 2  Class 3  Class 4  Class 5  Class 6
O       72       40       68       60       72       72
E       64       64       64       64       64       64

In [13]:
statistic, p_value = stats.chisquare(O, f_exp=E)
print(f'Statistic : {statistic}')
print(f'P Value   : {p_value}')

Statistic : 12.5
P Value   : 0.028543123326167485

$$
\displaystyle
\chi^2_{df}=\sum_{i=1}^k\frac{(O_i-E_i)^2}{E_i},\quad df=k-1
$$

In [4]:
df.loc['O-E',:] = df.loc['O',:] - df.loc['E',:]
df.loc['(O-E)^2',:] = (df.loc['O-E',:])**2
df.loc['(O-E)^2/E',:] = df.loc['(O-E)^2',:] / df.loc['E',:]
df

           Class 1  Class 2  Class 3  Class 4  Class 5  Class 6
O             72.0     40.0    68.00    60.00     72.0     72.0
E             64.0     64.0    64.00    64.00     64.0     64.0
O-E            8.0    -24.0     4.00    -4.00      8.0      8.0
(O-E)^2       64.0    576.0    16.00    16.00     64.0     64.0
(O-E)^2/E      1.0      9.0     0.25     0.25      1.0      1.0

In [5]:
statistic = np.sum(df.loc['(O-E)^2/E',:])
statistic

12.5

In [6]:
statistic = ((O-E)**2/E).sum()
statistic

12.5

In [7]:
degree_of_freedom = O.shape[0] - 1
degree_of_freedom

5

In [8]:
p_value = 1 - stats.chi2(degree_of_freedom).cdf(statistic)
p_value

0.028543123326167485

# Reference

[scipy.stats.chisquare](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html)

[Scott_Crawford](https://www.youtube.com/watch?v=_67mDWPt26Y)