[khanacademy](https://www.khanacademy.org/math/ap-statistics/analyzing-categorical-ap/stats-two-way-tables/v/two-way-frequency-tables-and-venn-diagrams?modal=1)

<div align="center"><img src="img/Screen Shot 2019-08-10 at 10.37.42 AM.png" width="100%" height="30%"></div>

In [1]:
import pandas as pd

data = {
    'chocolate': ['yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no'],
    'coconut': ['yes','yes','yes','no','no','no','no','no','no','yes','no','no']
    }

df = pd.DataFrame(data)
print(df)

   chocolate coconut
0        yes     yes
1        yes     yes
2        yes     yes
3        yes      no
4        yes      no
5        yes      no
6        yes      no
7        yes      no
8        yes      no
9         no     yes
10        no      no
11        no      no

In [2]:
g = df.groupby(['chocolate', 'coconut'])
print(g.size())

chocolate  coconut
no         no         2
           yes        1
yes        no         6
           yes        3
dtype: int64

In [3]:
for i in range(4):
    print(g.size()[i])

2
1
6
3

In [10]:
import numpy as np

g = pd.crosstab(df.chocolate, df.coconut, rownames=['chocolate'], colnames=['coconut'])
g.loc['TOTAL',:] = g.sum()
g.loc[:,'TOTAL'] = g.sum(axis=1) 
g = g.astype(np.int)
print(g)

coconut    no  yes  TOTAL
chocolate
no          2    1      3
yes         6    3      9
TOTAL       8    4     12