[khanacademy](https://www.khanacademy.org/math/ap-statistics/analyzing-categorical-ap/stats-two-way-tables/v/two-way-relative-frequency-tables?modal=1)

<div align="center"><img src="img/Screen Shot 2019-08-10 at 10.42.22 AM.png" width="100%" height="30%"></div>

In [1]:
import pandas as pd

data = {
    'SUV': 28*['yes'] + 35*['no'] + 97*['yes'] + 104*['no'],
    'Accident': 28*['yes'] + 35*['yes'] + 97*['no'] + 104*['no']
    }

df = pd.DataFrame(data)
print(df)

     SUV Accident
0    yes      yes
1    yes      yes
2    yes      yes
3    yes      yes
4    yes      yes
5    yes      yes
6    yes      yes
7    yes      yes
8    yes      yes
9    yes      yes
10   yes      yes
11   yes      yes
12   yes      yes
13   yes      yes
14   yes      yes
15   yes      yes
16   yes      yes
17   yes      yes
18   yes      yes
19   yes      yes
20   yes      yes
21   yes      yes
22   yes      yes
23   yes      yes
24   yes      yes
25   yes      yes
26   yes      yes
27   yes      yes
28    no      yes
29    no      yes
..   ...      ...
234   no       no
235   no       no
236   no       no
237   no       no
238   no       no
239   no       no
240   no       no
241   no       no
242   no       no
243   no       no
244   no       no
245   no       no
246   no       no
247   no       no
248   no       no
249   no       no
250   no       no
251   no       no
252   no       no
253   no       no
254   no       no
255   no       no
256   no       no
257   no       no
258   no       no
259   no       no
260   no       no
261   no       no
262   no       no
263   no       no

[264 rows x 2 columns]

In [2]:
g = df.groupby(['SUV', 'Accident'])
print(g.size())

SUV  Accident
no   no          104
     yes          35
yes  no           97
     yes          28
dtype: int64

In [3]:
for i in range(4):
    print(g.size()[i])

104
35
97
28

In [4]:
import numpy as np

g = pd.crosstab(df.SUV, df.Accident, rownames=['SUV'], colnames=['Accident'])
g.loc['TOTAL',:] = g.sum()
g.loc[:,'TOTAL'] = g.sum(axis=1) 
g = g.astype(np.int)
print(g)

Accident   no  yes  TOTAL
SUV
no        104   35    139
yes        97   28    125
TOTAL     201   63    264

In [5]:
h = g.copy()
h = h / h.loc['TOTAL',:] 
print(h)

Accident        no       yes     TOTAL
SUV
no        0.517413  0.555556  0.526515
yes       0.482587  0.444444  0.473485
TOTAL     1.000000  1.000000  1.000000

In [10]:
i = g.copy()
i = i / np.array(i.loc[:,'TOTAL']).reshape(-1,1) 
print(i)

Accident        no       yes  TOTAL
SUV
no        0.748201  0.251799    1.0
yes       0.776000  0.224000    1.0
TOTAL     0.761364  0.238636    1.0