In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
url = 'https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/loans_income.csv'
loans_income = pd.read_csv(url, squeeze=True)
loans_income

0         67000
1         52000
2        100000
3         78762
4         37041
          ...
49995     40000
49996     54000
49997     50000
49998     82000
49999     70000
Name: x, Length: 50000, dtype: int64

In [3]:
sample_data = pd.DataFrame({
    'income': loans_income.sample(1000),
    'type': 'Data',
})
sample_data.shape

(1000, 2)

In [4]:
sample_mean_05 = pd.DataFrame({
    'income': [loans_income.sample(5).mean() for _ in range(1000)],
    'type': 'Mean of 5',
})
sample_mean_05.shape

(1000, 2)

In [5]:
sample_mean_20 = pd.DataFrame({
    'income': [loans_income.sample(20).mean() for _ in range(1000)],
    'type': 'Mean of 20',
})
sample_mean_20.shape

(1000, 2)

In [6]:
results = pd.concat([sample_data, sample_mean_05, sample_mean_20])
results

         income        type
38923  42300.00        Data
3052   58350.00        Data
38217  60000.00        Data
24836  75000.00        Data
8422   60000.00        Data
...         ...         ...
995    68469.55  Mean of 20
996    61559.45  Mean of 20
997    62461.55  Mean of 20
998    78815.20  Mean of 20
999    58620.55  Mean of 20

[3000 rows x 2 columns]

In [7]:
results.shape # (3000,2)

(3000, 2)