In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
url = 'https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/loans_income.csv'
loans_income = pd.read_csv(url, squeeze=True)
loans_income.shape # (50000,)

# pandas.DataFrame.sample

```
DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)
```

[DOC](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html)

In [5]:
sample_data = pd.DataFrame({
    'income': loans_income.sample(1000),
    'type': 'Data',
})
sample_data

       income  type
19056   40000  Data
8798    72000  Data
10966  178000  Data
8792    90000  Data
24365   69000  Data
...       ...   ...
16614  103000  Data
24977   24000  Data
19609   28000  Data
28379   64000  Data
27100   48906  Data

[1000 rows x 2 columns]