In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
url = 'https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/loans_income.csv'
loans_income = pd.read_csv(url)
loans_income

            x
0       67000
1       52000
2      100000
3       78762
4       37041
...       ...
49995   40000
49996   54000
49997   50000
49998   82000
49999   70000

[50000 rows x 1 columns]

In [4]:
loans_income = pd.read_csv(url, squeeze=True)
loans_income

0         67000
1         52000
2        100000
3         78762
4         37041
          ...
49995     40000
49996     54000
49997     50000
49998     82000
49999     70000
Name: x, Length: 50000, dtype: int64