In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
url = 'https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/loans_income.csv'
loans_income = pd.read_csv(url, squeeze=True)
loans_income

In [5]:
sample_data = pd.DataFrame({
    'income': loans_income.sample(1000),
    'type': 'Data',
})

In [6]:
sample_mean_05 = pd.DataFrame({
    'income': [loans_income.sample(5).mean() for _ in range(1000)],
    'type': 'Mean of 5',
})
sample_mean_05

      income       type
0    48460.0  Mean of 5
1    76000.0  Mean of 5
2    62669.0  Mean of 5
3    58090.4  Mean of 5
4    70200.0  Mean of 5
..       ...        ...
995  33200.0  Mean of 5
996  57140.0  Mean of 5
997  96324.4  Mean of 5
998  80680.0  Mean of 5
999  64000.0  Mean of 5

[1000 rows x 2 columns]